* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img {
    width: 500px;
}
.d-flex {
    display: flex !important;
    margin: auto;
    width: 80vw;
}
.header {
    margin-bottom: 3rem;
}
.typedtxt {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 200px;
}
.typedAnim {
    overflow: hidden;
    background: #0EBD3F;
    color: #000000;
    border-right: .15em solid orange;
    white-space: nowrap;
    animation: 
      typing 1s forwards;
    font-size: 1.6rem;
    width: 0;
  }
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }